<!DOCTYPE html>
<html>
<head>
	<title>{{site.title}}</title>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

	<!-- Styles -->
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="my-header">
	<div class="logo-container col-md-12">
		<a href="{{site.url}}"><img class="img-logo" src="assets/img/large.png"></a>
	</div>
	<div class="col-md-12 navbar-slider">
		<nav class="navbar navbar-default my-nav">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					{% for item in site.data.pageslist.pages %}
					<li><a href="{{item.url}}" alt="{{item.title}}">{{item.title}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</nav>
	</div>
</div>