<!DOCTYPE html>
<html>
<head>
	<title>{{site.title}}</title>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

	<!-- Styles -->
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="my-header container-fluid">
		<div class="col-md-12">
			<nav class="navbar navbar-default my-nav">
				<div class="container-fluid">
					<!-- <div class="pull-left"> -->
					<a href="{{site.url}}"><img class="pull-left img-logo" src="assets/img/large.png"></a>
					<!-- </div> -->
					<ul class="nav navbar-nav navbar-right">
						{% for item in site.data.pageslist.pages %}
						<li><a href="{{item.url}}" alt="{{item.title}}">{{item.title}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</nav>
		</div>
		<div class="col-md-12">	
			<div class="img-header">
				<div class="well quote col-md-4">
					<p>Ruch jest w stanie zastąpić prawie każdy lek, ale wszystkie leki razem wzięte nie zastąpią ruchu.</p>
					<p class="author"> Wojciech Oczko</p>
				</div>
			</div>
		</div>
	</div>