{% include header.html %}

<div class="content">

	<div class="row">

		<div class="col-md-4 ">
			<div class="col-md-12 col-xs-6"><img src="assets/img/banka1.jpg" class="img-responsive content-img"></div>
			<div class="col-md-12 col-xs-6"><img src="assets/img/banka2.jpg" class="img-responsive content-img"></div>
		</div>


		<div class="col-md-8">
			<h1>Masaż bańką chińską</h1>

			<p>Bańki chińskie są stosowane już od ponad 3000 lat. Jeszcze kilkanaście lat temu stosowane były w&nbsp;lecznictwie. Dzisiaj stosujemy je także w&nbsp;kosmetyce. Dają dobre efekty w&nbsp;zabiegach redukujących
				tkankę tłuszczową i&nbsp;cellulit.</p>
			<p>	Bańka działa na zasadzie zasysania i&nbsp;mocno masuje tkankę podskórną przyczyniając się także do jej
				przekrwienia co pobudza przemianę materii i&nbsp;przyczynia się do redukcji tkanki tłuszczowej oraz
				wzrostu jędrności skóry. Pobudzenie krążenia płynów ustrojowych pomaga pozbyć się z&nbsp;organizmu
				toksyn i&nbsp;zbędnych produktów przemiany materii.</p>

			<br>
			<p>Przeciwskazania:</p>
			<ul>
				<li>ciąża</li>
				<li>żylaki i zaburzenia krzepliwości krwi</li>
				<li>skłonności do wylewów podskórnych i naczynek</li>
				<li>menstruacja</li>
				<li>zapalenia stawów</li>
				<li>nowotwory</li>
				<li>cukrzyca</li>
				<li>skoki ciśnienia</li>
				<li>podwyższona temperatura ciała</li>
			</ul>

			<p>Masaż bańką chińską wykonuję na udach, pośladkach, brzuchu a&nbsp;także jeżeli jest taka potrzeba na
				wewnętrznej powierzchni ramion, czyli miejscach gdzie gromadzą się złogi tłuszczu podskórnego.</p>


			<div class="well">
					<p><strong>Pakiet 1:</strong> uda, pośladki (40 minut) – 70 zł </p>
					<p><strong>Pakiet 2:</strong> brzuch, uda, pośladki (ok 60 minut) – 90 zł </p>
			</div>


		</div>
	</div>

</div>

{% include footer.html %}

