
	
	{% include header.html %}

	<div class="content">
		<div class="row">
			<div class="col-md-8 ">
				<h1>
					FIZJO-STEP krok ku zdrowiu – Mobilna praktyka fizjoterapeutyczna
				</h1>
				<div class="well">
					Zapraszam Państwa do skorzystania z&nbsp;oferty rehabilitacji z&nbsp;dojazdem do domu. Dojazdy obejmują teren Poznania i&nbsp;okolic.
				</div>
				<p>
					Leczenie ruchem zajmuje we współczesnej medycynie bardzo wysoką pozycję. Usprawnia układy i&nbsp;narządy bezpośrednio związane z wydolnością i&nbsp;sprawnością organizmu: serce, układ krążenia, układ oddechowy, układ nerwowy, układ gruczołów dokrewnych oraz gospodarkę energetyczną. 
					<br><br>
					Ponadto kinezyterapia jest nieodłącznym elementem usprawniania po operacjach, urazach, w&nbsp;przewlekłych zespołach bólowych oraz stanowi ważny element profilaktyki wielu chorób cywilizacyjnych.
					<br><br>
					Kinezyterapia jako podstawa leczenia przeplatana różnymi formami fizjoterapii znacznie przyśpiesza pojawienia się pozytywnych i&nbsp;trwałych efektów leczenia.
					<br><br>
					<b>Zapraszam do kontaktu oraz do zapoznania się z&nbsp;ofertą.</b>
				</p>
			</div>
			<div class="col-md-4 ">
				<div class="col-md-12 col-xs-6"><img src="assets/img/ls.jpg" class="img-responsive content-img"></div>
				<div class="col-md-12 col-xs-6"><img src="assets/img/lokiec.jpg" class="img-responsive content-img"></div>
			</div>
		</div>
	</div>

	{% include footer.html %}

