
	
	{% include header.html %}

	<div class="content">
		<div class="row">
			<div class="col-md-8 ">
				<h1>
					FizjoStep krok ku zdrowiu – Mobilna praktyka fizjoterapeutyczna
				</h1>
				<div class="well">
					Zapraszam Państwa do skorzystania z oferty rehabilitacji z dojazdem do domu. Dojazdy obejmują teren Poznania i okolic.
				</div>
				<p>
					Leczenie ruchem zajmuje we współczesnej medycynie bardzo wysoką pozycję. Usprawnia układy i narządy bezpośrednio związane z wydolnością i sprawnością organizmu: serce, układ krążenia, układ oddechowy, układ nerwowy, układ gruczołów dokrewnych oraz gospodarkę energetyczną. 
					<br><br>
					Ponadto kinezyterapia jest nieodłącznym elementem usprawniania po operacjach, urazach, w przewlekłych zespołach bólowych oraz stanowi ważny element profilaktyki wielu chorób cywilizacyjnych.
					<br><br>
					Kinezyterapia jako podstawa leczenia przeplatana różnymi formami fizjoterapii znacznie przyśpiesza pojawienia się pozytywnych i trwałych efektów leczenia.
					<br><br>
					<b>Zapraszam do kontaktu oraz do zapoznania się z ofertą.</b>
				</p>
			</div>
			<div class="col-md-4 ">
				<div class="col-md-12 col-xs-6"><img src="/assets/img/jez.jpg" class="img-responsive content-img"></div>
				<div class="col-md-12 col-xs-6"><img src="/assets/img/relaxdog.jpg" class="img-responsive content-img"></div>
			</div>
		</div>
	</div>

	{% include footer.html %}

