
{% include header.html %}

<div class="content">
	<div class="row">
		<div class="col-md-8 ">
			
			<div class="col-md-6">
				<h1>FizjoStep</h1>
				<h4>Justyna Stępień</h4>
			</div>
			<div class="col-md-6">
			<h1>Tel. 791 340 265 </h1>
			</div>
			<div class="col-md-12">
				<div class="well">
					<p>Rejestracja wizyt od poniedziałku do piątku w godzinach <b>9.00-18.00</b> </p>
					<p><span class="glyphicon">&#xe086;</span> W trakcie wizyt nie odbieram telefonu, oddzwonię.</p>
				</div>
			</div>

			<div class="col-md-12">
				<div class="well">
				Dojazdy obejmują teren <b>Poznania</b> i okolic.
				</div>
			</div>


		</div>
		<div class="col-md-4 ">
			<div class="col-md-12 col-xs-12"><img src="assets/img/ls.jpg" class="img-responsive content-img"></div>
		</div>
	</div>
</div>

{% include footer.html %}

