
{% include header.html %}

<div class="content">
	<div class="row">
		<div class="col-md-12">
			<h1> O mnie </h1>
			<h3><b>Mgr fizjoterapii Justyna Stępień</b></h3>
			<p>Jestem absolwentką Uniwersytetu Medycznego im. Karola Marcinkowskiego w Poznaniu na kierunku Fizjoterapia. Swoje doświadczenie zawodowe zyskałam pracując w prywatnym gabinecie rehabilitacyjnym w Poznaniu, Swarzędzu oraz kontynuując współpracę z&nbsp;pacjentami objętymi programem rehabilitacji domowej w ramach NFZ.
			Praca indywidualna z&nbsp;pacjentem to najlepsza i&nbsp;najskuteczniejsza forma terapii. Otwarcie własnej mobilnej firmy to chęć wyjścia naprzeciw osobom, które nie mają możliwości lub chęci rozpoczęcia rehabilitacji poza swoim domem. 
			<br><br>
			Numer prawa wykonywania zawodu: <b>42452</b>
				<br><br>
				<b>Podnosząc swoje kwalifikacje zawodowe uczestniczyłam w&nbsp;szkoleniach:</b>
				<ul>
					<li>Strukturalna praca z ciałem w oparciu o łańcuchy mięśniowo-powięziowe (John Smith)</li>
					<li>Mięśniowo-powięziowa terapia miednicy i kręgosłupa lędźwiowego</li>
					<li>Nowoczesne standardy rehabilitacji ortopedycznej. Kręgosłup szyjny, piersiowy, lędźwiowy</li>
					<li>Terapia manualna</li>
					<li>Badanie i fizjoterapia funkcjonalna stawu barkowego</li>
					<li>PNF</li>
					<li>Masaż klasyczny</li>
					<li>Masaż limfatyczny</li>
					<li>Masaż głęboki</li>
				</ul>
				<b>Moje publikacje:</b>
				<ul>
					<li>Stępień J., Pogorzała A.M., Postępowanie fizjoterapeutyczne w stabilnych złamaniach kostki bocznej, pod red. Borowicz A.M., Kossowska I., WSEiT, Poznań 2015, s&nbsp;73-95.</li>

					<li>Stryła W., Pogorzała A.M., Stępień J.: Ćwiczenia propriocepcji w rehabilitacji medycznej.  Polish Orthopedics and Traumatology, 2013; 78: s&nbsp;5-27.</li>
				</ul>
			</p>
		</div>
	</div>
</div>

{% include footer.html %}

