

{% include header.html %}

<div class="content">
	<div class="row">
		<div class="col-md-8 ">
			<h1>Oferta</h1>

			<h3>Rehabilitacja </h3>
			<ul>
				<li>Rehabilitacja pooperacyjna (endoprotezoplastyka stawów, artroskopia stawów, rekonstrukcja więzadeł)</li>
				<li>Rehabilitacja po złamaniach, skręceniach, zwichnięciach</li>
				<li>Rehabilitacja w zespole bolesnego barku</li>
				<li>Rehabilitacja w bólach kręgosłupa</li>
				<li>Rehabilitacja ogólnorozwojowa – core stability (trening stabilności ogólnej)</li>
				<li>Rehabilitacja poudarowa, osób z SM, SLA, z Parkinsonem</li>
				<li>Rehabilitacja bierna i wspomagana osób leżących</li>
			</ul>

			<h3>Masaże</h3>
			<ul>
				<li>Masaż leczniczy kręgosłupa</li>
				<li>Masaż kobiet w ciąży (wymagane zaświadczenie od lekarza o braku przeciwwskazań do zabiegu)</li>
				<li>Masaż limfatyczny</li>
				<li>Masaż głęboki</li>
			</ul>
		</div>
		<div class="col-md-4 ">
			<div class="col-md-12 col-xs-6"><img src="assets/img/bark3.jpg" class="img-responsive content-img"></div>
			<div class="col-md-12 col-xs-6"><img src="assets/img/kolano.jpg" class="img-responsive content-img"></div>
		</div>
	</div>
</div>

{% include footer.html %}

